.blue {
	color: #333399;
}
.red {
	color: #993333;
}
TH.box {
	align: center;
	valign: top;
	background-color: #333399;
	color: #ffffff;
	font-family : Arial,Helvetica,sans-serif;
	font-weight: bold;
}
TD.box {
	valign: top;
	background-color: #e5e5e5;
}
TD.box0 {
	valign: top;
	background-color: #e5e5e5;
}
TD.box1 {
	valign: top;
	background-color: #f5f5f5;
}
H1,H2,H3,H4 {
	font-family : Arial,Helvetica,sans-serif;
}
IMG {
	border-color: #333399
	border: 2 
}
P,BODY,UL {
	font-family : Arial,Helvetica,sans-serif;
}
BODY {
	background-color: white;
	color: black;
	margin-bottom: 5;
	margin-top: 5;
	margin-left: 5;
	margin-right: 5;
}
A,A:Visited  {
	color: #333399;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: underline;
}
A:Hover,A:Active  {
	color: #993333;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-decoration: underline;
}
A.topic,A:Visited.topic  {
	color: #333399;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-decoration: none;
}
A:Hover.topic,A:Active.topic  {
	color: #993333;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-decoration: underline;
}
A.folder,A:Visited.folder,A:Hover.folder,A:Active.folder {
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-decoration: none;
}
A:Hover.folder {
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-decoration: underline;
}